.container-artwork-view {
    all: unset;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: blue;
    width: 100%;
    height: 89vh;
}

.image-view-container {
    // background-color: yellow;
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 90%;
}

.vini-en-bikini {
    width: 19%;
    text-align: center;
}

.separator {
    width: 100%;
    border: 0;
    border-top: 2px solid black;
    margin: 0px 0;
}

.artwork-view-info {
    margin-bottom: 20px;
    // background-color: red;
    display: flex;
    flex-direction: column;
    width: 90%;
}

.two-column-layout {
    display: flex;
    flex-wrap: wrap;
}

.two-column-layout p {
    width: 50%;
    box-sizing: border-box;
    padding: 5px;
}

.container-artwork-view h1 {
    color: #464646;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important; /* Ajusta el valor según el espacio deseado */
    margin-top: 20px; /* Espacio adicional en la parte superior */
}
