.create-exposition-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 89vh;
}
.create-exposition{
    display: flex;
    flex-direction: column;
    border: 1px solid gainsboro;
    border-radius: 15px;
    height: 50vh;
    padding: 20px;
    overflow-y: auto;
}

.artwork-list-item-create-exposition{
    display: flex;
    align-items: center;
    background-color: red;
    border-radius: 15px;
    background-color: #f1f1f1;
    justify-content: space-between;
    margin: 10px;
    width: 400px;
    height: 5rem;
    :first-child{
        border-radius: 100%;
        margin-left: 15px;
        width: 3rem;
        height: 3rem;
    }
    :nth-child(3){
        margin-right: 30px;
    }
}

.endedExpoFilter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: -1px;
    width: 100%;
    height: 40px;
}

.endedExpoCheckbox {
    appearance: none !important;
    width: 20px !important;
    height: 20px !important;
    border: 2px solid #c2c2c2 !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    transition: background-color 0.15s !important;
}

.endedExpoCheckbox:checked {
    background-color: #4577ff !important;
}

svg {
    position: absolute;
    left: 305px;
    bottom: 702px;
}