.list-header-expositions {
    a:first-child {
        width: 30% !important;
    }

    a:nth-child(2) {
        width: 22.5% !important;
    }

    a:nth-child(3) {
        width: 20% !important;
    }

    a:nth-child(4) {
        width: 13.75% !important;
    }

    a:nth-child(5) {
        width: 13.75% !important;
    }
}


.list-item-expositions {
        
        :first-child {
            margin-left: 16px;
            width: 50% !important;
        }

        :nth-child(2) {
            width: 20% !important;
        }

        :nth-child(3) {
            width: 10% !important;
        }

        :nth-child(4) {
            width: 10% !important;
        }

        :nth-child(5) {
            width: 10% !important;
        }
}