.list-header-exposition-admin {
    a:first-child {
        width: 33.3% !important;
    }

    a:nth-child(2) {
        width: 33.3% !important;
    }

    a:nth-child(3) {
        width: 33.3% !important;
    }
}


.list-item-exposition-admin {
    :nth-child(1) {
        width: 33.3% !important;
        margin-left: 30px !important;
    }

    :nth-child(2) {
        width: 10% !important;
        margin-left: 20px !important;
    }

    :nth-child(3) {
        width: 33.3% !important;
        margin-right: 15px !important;
    }
}

.expo_button {
    padding-right: 75px !important;
}