.list-item-expositions {

    :nth-child(2) {
        width: 41% !important;
    }

    :nth-child(3) {
        width: 36.5% !important;
    }

    :nth-child(4) {
        width: 22.5% !important;
    }
}