.list-header-expositions {
    a:first-child {
        width: 30% !important;
    }

    a:nth-child(2) {
        width: 22.5% !important;
    }

    a:nth-child(3) {
        width: 20% !important;
    }

    a:nth-child(4) {
        width: 13.75% !important;
    }

    a:nth-child(5) {
        width: 13.75% !important;
    }
}


.list-item-expositions {
    width: 100%;
    
    :nth-child(){
        gap: 4px;
        margin-left: 20px;
        width: 30% ;
    }

    :nth-child(2) {
        width: 22.5%;
    }

    :nth-child(3) {
        width: 20%;
    }

    :nth-child(4) {
        width: 13.75%;
    }

    :nth-child(5) {
        width: 13.75%;
    }
}