@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import 'vars';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'Courier New', Courier, monospace;*/
    font-family: "Roboto", Sans-serif;
}



body {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    /*overflow: hidden;*/
}

/* CUSTOM BUTTONS FOR WEBSITE */
button {
    background-color: #E6ECF0;
    padding: 6px;
    color: $color-primary;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.66s;
    margin-top: 30px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

button > * {
    padding-right: 5px;
}


button:hover {
    background-color: #5d88ff;
    color: white;
}
/* ------------------------------ */

/* CUSTOM INPUT FIELDS FOR WEBSITE */
input {
    padding: 6px;
    font-size: 16px;
    border: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: all 0.66s;
    margin-bottom: 2px;
    color: #444444;
}

input:focus {
    outline: none;
    border-bottom: 1px solid #007bff;
}

input:hover {
    border-bottom: 1px solid #007bff;
}

input::placeholder {
    color: #929292;;
    /*font-style: italic;*/
}
/* ------------------------------ */

/* CUSTOM SELECT FIELDS FOR WEBSIT */

select {
    all: unset;
    appearance: auto;
    background: white;
    padding: 5px;
    font-size: 16px;
    border: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: all 0.66s;
    margin-bottom: 2px;
    color: #444444;
}

select:focus {
    outline: none;
    border-bottom: 1px solid #007bff;
}

select:hover {
    border-bottom: 1px solid #007bff;
}

select {
    color: #444444;
    /*font-style: italic;*/
}

option {
    color: #444444;
}

option:hover {
    background-color: #007bff;
}

/* Elimina las flechas del scroll en navegadores basados en WebKit */
/*
::-webkit-scrollbar {
    width: 0;
    height: 0;
}*/

/* Elimina los estilos de los enlaces */
a {
    all: unset;
    cursor: pointer;
}

a:hover {
    color: #007bff;
}

.action_button {
    margin: 0px !important;
    padding: 5px !important;

    i {
        margin-right: 5px;
    }
}

.delete_button:hover {
    background-color: #ff4d4d !important;
    color: white;
}

.rounded-profile-images {
    border-radius:50%;
}

.search_button:hover {
    padding: 10px;
}