@import 'vars';
#home-list-wrapper {
    padding: 0px 15px 0px 20px;
    width: calc( 82% - 35px );
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    height: 89vh;
    overflow-x: hidden;
    overflow-y: auto;
}

#home-list-container {
    width: 100%;
    height: 90% !important;
}

.home-list-item {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    padding: 10px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 0px;
    background-color: white;
    border-bottom: 1px solid #ffffff;
    transition: border-bottom 0.66s, padding 0.2s;
}

.home-list-item:hover {
    border-bottom: 1px solid #4577ff;
    cursor: pointer;
    padding: 15px;
}

.home-list-item-info {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr; /* Definimos 5 columnas */
    gap: 10px; /* Ajusta el espacio entre las columnas */
    align-items: center; /* Alinea verticalmente */
    width: 100%;
}

.home-list-item-info p, .home-list-item-info h3 {
    white-space: nowrap;
    margin: 0 0 0 10px;
}

.home-list-item-img {
    width: 3vw;
    height: 3vw;
    object-fit: cover;
    border-radius: 0px;
}

.home-list-item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0px;
}

#home-list-pagination {
    width: 100%;
    height: 10% !important;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; 
}

#home-list-pagination button {
    width: 80px;
    margin: 0px 5px 0px 5px;
}

.home-list-pagination-page {
    width: auto !important;
}
