.list-header-locations {
    a:first-child {
        padding-left: 2px !important;
        width: calc(45% - 2px) !important;
    }

    a:nth-child(2) {
        width: 55% !important;
    }
}

.list-item-location {
    p:first-child {
        padding-left: 2px !important;
        width: calc(45% - 2px) !important;
    }

    p:nth-child(2) {
        width: 55% !important;
    }
}