.list-header-locations {
    a:first-child {
        padding-left: 15px !important;
        width: calc(45% - 15px) !important;
    }

    a:nth-child(2) {
        width: 55% !important;
    }
}

.list-item-location {
    p:first-child {
        padding-left: 15px !important;
        width: calc(45% - 15px) !important;
    }

    p:nth-child(2) {
        width: 55% !important;
    }
}

/* Estilos generales para el árbol */
.panel-tree {
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.location-node {
    list-style: none;
    margin: 6px;
    padding-left: 0px;
}

.location-node label {
    cursor: pointer;
    color: #464646 !important; /* Color negro por defecto */
    padding: 4px;
}

.location-node.open > label {
    color: #007bff !important; /* Color azul solo para los elementos con la clase .open */
}

/* Flecha de despliegue solo en nodos con hijos */
.location-node.has-children > label::before {
    content: '▸';
    display: inline-block;
    width: 20px;
    transition: transform 0.3s ease;
}

.location-node.open.has-children > label::before {
    transform: rotate(90deg);
}

.location-node-children {
    display: none;
    padding-left: 20px;
}

.location-node.open > .location-node-children {
    display: block;
}

.mini_button {
    all: unset !important;

}

/* Estilos del menú contextual */
.context-menu {
    position: absolute;
    display: none;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
}
.context-menu li {
    list-style: none;
    padding: 5px 10px;
    cursor: pointer;
}
.context-menu li:hover {
    background-color: #f0f0f0;
}

.animated-ratoli {
    // display: flex;
    flex-wrap: nowrap;
    display: none;
    position: absolute;
    top:50%;
    left:2%;
    transform: translate(0%, -50%) !important;
    width: 200px !important;
    transition: transform 0.5s ease;
    // background-color: bisque;
    justify-content: center;
    align-items: center;

    img {
        // background-color: aqua;
        display: block;
        width: 10% !important;
    }

    p {
        display: block;
        width: 90% !important;
        font-size: 11px;
        color: #868686;
        // background-color: brown;
    };
}