@import 'vars';

#user-list-wrapper {
    padding: 0px 15px 0px 20px;
    width: calc( 82% - 35px );
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    height: 89vh;
    overflow-x: hidden;
    overflow-y: auto;
}

#user-list-container {
    width: 100%;
    height: 90% !important;
    overflow-y: scroll;
}

.user-list-item {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;
    width: calc(100% - 40px);
    padding: 10px;
    margin: 10px;
    max-height: calc(11.11% - 12px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 5px;
    border-radius: 5px;
    background-color: #F1F1F1;
    border-bottom: 1px solid #ffffff;
    transition: border-bottom 0.66s, padding 0.2s;
}

.user-list-item:hover {
    border-bottom: 1px solid #4577ff;
    cursor: pointer;
    padding: 15px;
}

.user-list-item-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.5fr ; 
    gap: 10px; 
    align-items: center !important;
    width: 100%;
}

.user-list-item-info p, .user-list-item-info h3 {
    white-space: nowrap;
    margin: 0 0 0 10px;
}

.user-list-item-img {
    width: 3vw;
    height: 3vw;
    object-fit: cover;
    border-radius: 50px;
}

.user-list-item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
}

#user-list-pagination {
    width: 100%;
    height: 10% !important;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; 
}

#user-list-pagination button {
    width: 80px;
    margin: 0px 5px 0px 5px;
}
.user-list-item-info button{
    margin: auto;
}

.user-list-pagination-page {
    width: auto !important;
}



/* HACE CONFLICTO DE CSS CON LA VISTA/CSS DE user-LIST HAY QUE LLAMAR A LAS CLASSES Y ID DE DIFERENTE FORMA AQUI Y EN EL HTML/PHP/VISTA */