@charset "UTF-8";
#artwork-view-container {
  background-color: #fafafa;
  flex-wrap: wrap;
  height: 89vh;
  width: 100%;
  padding: 20px;
}
#artwork-view-container #artwork-view-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 3.5vh;
  width: 100%;
  border-bottom: 1px solid #464646;
}
#artwork-view-container #artwork-view-body {
  display: flex;
  display: none;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  height: calc(100% - 3.5vh);
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
}
#artwork-view-container #artwork-view-body .artwork-view-subheader {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 3.5vh;
  width: 100%;
  border-bottom: 1px solid #464646;
}
#artwork-view-container #artwork-view-body .artwork-view-details {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  padding: 5px;
}
#artwork-view-container #artwork-view-body .artwork-view-details p {
  width: 100%;
}
#artwork-view-container #artwork-view-body .artwork-view-details p.half {
  width: 50%;
}
#artwork-view-container #artwork-view-body .artwork-view-details .bold {
  font-weight: bold;
}
#artwork-view-container #artwork-view-body .artwork-view-details .ref {
  color: rgb(71, 71, 71);
  width: 100%;
  padding: 5px;
}
#artwork-view-container #artwork-view-body .artwork-view-details .ref a:hover {
  text-decoration: underline;
}
#artwork-view-container #artwork-view-body .artwork-view-images {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  padding: 5px;
}
#artwork-view-container #artwork-view-body .artwork-view-images .artwork-view-image {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 82px;
  height: 82px;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}
#artwork-view-container #artwork-view-body .artwork-view-images .artwork-view-image img {
  width: 100%;
  height: 100%;
}
#artwork-view-container #artwork-view-body .artwork-view-documents {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  padding: 5px;
}
#artwork-view-container #artwork-view-body .artwork-view-documents .artwork-document {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 148px;
  height: 96px;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  white-space: nowrap; /* Evita que el texto se envuelva */
  overflow: hidden; /* Oculta el texto que excede el límite */
  text-overflow: ellipsis; /* Añade puntos suspensivos al final */
}
#artwork-view-container #artwork-view-body .artwork-view-documents .artwork-document img {
  width: 50%;
  height: 80%;
}
#artwork-view-container #artwork-view-body .artwork-view-documents .artwork-document p {
  width: 100%;
  height: 20%;
  color: rgb(71, 71, 71);
  text-align: center;
  font-size: 12px;
}/*# sourceMappingURL=artwork-view.css.map */