@charset "UTF-8";
#artwork-create-container {
  box-sizing: border-box;
  height: 89vh;
  width: 100%;
  background-color: #fafafa;
  color: #464646;
  overflow-y: auto;
  overflow-x: hidden;
}
#artwork-create-container textarea {
  width: 100%;
  height: 100px;
  border-radius: 0 !important;
}
#artwork-create-container label {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}
#artwork-create-container input[type=number], #artwork-create-container input[type=text], #artwork-create-container input[type=date], #artwork-create-container select {
  box-sizing: border-box;
  border-radius: 0;
  /*padding-left: 10px;
  padding-right: 10px;*/
}
#artwork-create-container .artwork-create-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
#artwork-create-container .artwork-create-header h1, #artwork-create-container .artwork-create-header hr {
  width: 100%;
}
#artwork-create-container .artwork-create-header h1 {
  text-align: center;
}
#artwork-create-container .artwork-create-box {
  width: 100%;
  /*height: 400px;*/
  padding: 20px;
}
#artwork-create-container .artwork-create-box .artwork-create-box-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
#artwork-create-container .artwork-create-box .artwork-create-box-header h3, #artwork-create-container .artwork-create-box .artwork-create-box-header hr {
  width: 100%;
}
#artwork-create-container .artwork-create-box .artwork-create-box-header h3 {
  padding-left: 10px;
}
#artwork-create-container .artwork-create-box .default-image-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 25% !important;
}
#artwork-create-container .artwork-create-box .default-image-box img {
  width: 50%;
  height: 50%;
}
#artwork-create-container .artwork-create-box .default-image-box button {
  width: calc(50% - 20px) !important;
  margin: 10px !important;
}
#artwork-create-container .artwork-create-box .artwork-create-box-elements {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
}
#artwork-create-container .artwork-create-box .artwork-create-box-elements .acb-element-1-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100% !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}
#artwork-create-container .artwork-create-box .artwork-create-box-elements .acb-element-1-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 50% !important;
  padding-left: 10px;
  padding-right: 10px;
}

/* Estilos custom para el formulario de creación de obra */
.custom-select-1 {
  width: 10% !important;
  text-align: center;
}

.custom-number-imput-1 {
  width: 25% !important;
}

.custom-number-imput-2 {
  width: 15% !important;
}

.custom-number-imput-3 {
  width: 50% !important;
}

.element-1-3 {
  width: 33.33% !important;
}

.element-1-2 {
  width: 50% !important;
}

.element-1-2-margin {
  box-sizing: border-box;
  width: calc(50% - 10px) !important;
  margin-right: 5px !important;
}

.element-1-1 {
  width: 100% !important;
}

/* Button for classic form */
.create-artwork-button {
  background-color: blue;
  width: 100% !important;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}/*# sourceMappingURL=artwork-create2.css.map */