#vocabulary-wrapper {
  display: flex;
  width: 100%;
  height: 89vh;
  /*background-color: blue;*/
  padding: 10px;
  overflow: hidden;
  margin-right: 5px !important;
}
#vocabulary-wrapper #vocabulary-container {
  width: 100%;
  /*height: 100%;*/
}
#vocabulary-wrapper #vocabulary-container #vocabulary-header {
  width: 100%;
  height: calc(3em - 10px);
  text-align: center;
  /*background-color: brown;*/
}
#vocabulary-wrapper #vocabulary-container #vocabulary-header h2 {
  margin-bottom: 10px;
}
#vocabulary-wrapper #vocabulary-container #vocabulary-items {
  display: flex;
  flex-wrap: wrap;
  height: calc(100% - 3em - 10px);
  width: 100%;
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 10px;
}
#vocabulary-wrapper #vocabulary-container #vocabulary-items .vocabulary-item-simple {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: calc(33.33% - 20px);
  margin: 10px;
  height: 40%;
  background-color: #fafafa;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
  /*overflow: hidden;*/
}
#vocabulary-wrapper #vocabulary-container #vocabulary-items .vocabulary-item-simple h4 {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
  width: 100%;
  /*background-color: aqua;*/
  border-bottom: 1px solid #868686;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#vocabulary-wrapper #vocabulary-container #vocabulary-items .vocabulary-item-simple input {
  height: 2em;
  width: 70%;
  padding: 0px !important;
  margin: 0px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}
#vocabulary-wrapper #vocabulary-container #vocabulary-items .vocabulary-item-simple button {
  height: 2em;
  width: calc(28% - 20px);
  padding: 0px !important;
  margin: 0px !important;
}
#vocabulary-wrapper #vocabulary-container #vocabulary-items .vocabulary-item-simple .delete_vocabulary_button:hover {
  background-color: red !important;
}
#vocabulary-wrapper #vocabulary-container #vocabulary-items .vocabulary-item-simple .list-vocabulary-item-simple {
  height: calc(100% - 6em);
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  /*background-color: chocolate;*/
}
#vocabulary-wrapper #vocabulary-container #vocabulary-items .vocabulary-item-simple .list-vocabulary-item-simple .item-vocabulary {
  display: flex;
  height: calc(20% - 8px);
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-left: 10px;
  margin: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: all 0.22s;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
}
#vocabulary-wrapper #vocabulary-container #vocabulary-items .vocabulary-item-simple .list-vocabulary-item-simple .item-vocabulary p {
  width: 85%;
}
#vocabulary-wrapper #vocabulary-container #vocabulary-items .vocabulary-item-simple .list-vocabulary-item-simple .item-vocabulary button {
  margin: 0;
  padding: 0;
  width: calc(15% - 20px);
  height: 70%;
}
#vocabulary-wrapper #vocabulary-container #vocabulary-items .vocabulary-item-simple .list-vocabulary-item-simple .item-vocabulary:hover {
  border-bottom: 1px solid blue;
}
#vocabulary-wrapper #vocabulary-container #vocabulary-items .vocabulary-item-composed {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: calc(66.66% - 20px);
  margin: 10px;
  height: 40%;
  background-color: #fafafa;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
  overflow: hidden;
}
#vocabulary-wrapper #vocabulary-container #vocabulary-items .vocabulary-item-composed h4 {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
  width: 100%;
  /*background-color: aqua;*/
  border-bottom: 1px solid #868686;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#vocabulary-wrapper #vocabulary-container #vocabulary-items .vocabulary-item-composed .mixed_inputs {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: grey;
  justify-content: space-around;
  align-items: center;
  height: 2.5em;
}
#vocabulary-wrapper #vocabulary-container #vocabulary-items .vocabulary-item-composed .mixed_inputs input {
  /*width: 30%;*/
}
#vocabulary-wrapper #vocabulary-container #vocabulary-items .vocabulary-item-composed .mixed_inputs input:first-child {
  width: 40%;
}
#vocabulary-wrapper #vocabulary-container #vocabulary-items .vocabulary-item-composed .mixed_inputs input:nth-child(2), #vocabulary-wrapper #vocabulary-container #vocabulary-items .vocabulary-item-composed .mixed_inputs input:last-child {
  width: 10%;
}
#vocabulary-wrapper #vocabulary-container #vocabulary-items .vocabulary-item-composed .mixed_inputs button {
  width: 10%;
  height: 90%;
  margin: 0 !important;
  padding: 0 !important;
}
#vocabulary-wrapper #vocabulary-container #vocabulary-items .vocabulary-item-composed .mixed_headers {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: grey;
  justify-content: flex-start;
  align-items: center;
  height: 1.5em;
}
#vocabulary-wrapper #vocabulary-container #vocabulary-items .vocabulary-item-composed .mixed_headers p {
  display: flex;
  background-color: aqua;
  padding-left: 5px;
}
#vocabulary-wrapper #vocabulary-container #vocabulary-items .vocabulary-item-composed .mixed_headers p:first-child {
  width: 40%;
}
#vocabulary-wrapper #vocabulary-container #vocabulary-items .vocabulary-item-composed .mixed_headers p:nth-child(2), #vocabulary-wrapper #vocabulary-container #vocabulary-items .vocabulary-item-composed .mixed_headers p:last-child {
  width: 30%;
}
#vocabulary-wrapper #vocabulary-container #vocabulary-items .vocabulary-item-composed .mixed_inputs {
  display: flex;
  width: 100%;
}/*# sourceMappingURL=vocabulary.css.map */